.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: 84px 0 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}@font-face {
  font-family: 'ThinPixel7-1Yq0';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ThinPixel7-1Yq0.ttf);
}