.u-section-1 .u-sheet-1 {
  min-height: 867px;
}

.u-section-1 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: 2px auto 0;
}

.u-section-1 .u-image-1 {
  width: 525px;
  height: 315px;
  margin: -7px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: ThinPixel7-1Yq0;
  margin: 9px 94px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 204px;
    margin-left: 0;
    margin-right: 0;
  }
}@font-face {
  font-family: 'ThinPixel7-1Yq0';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ThinPixel7-1Yq0.ttf);
}