.u-section-1 .u-sheet-1 {
  min-height: 867px;
}

.u-section-1 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: 2px auto 0;
}

.u-section-1 .u-image-1 {
  width: 525px;
  height: 345px;
  margin: -7px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: ThinPixel7-1Yq0;
  margin: 0 auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 223px;
  }
}@font-face {
  font-family: 'ThinPixel7-1Yq0';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ThinPixel7-1Yq0.ttf);
}