.u-section-1 .u-sheet-1 {
  min-height: 149px;
}

.u-section-1 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: 0 auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 66px;
}

.u-section-2 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 885px 0 143px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 785px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 608px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 428px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 228px;
  }
}

.u-block-9c85-5:not([data-block-selected]):not([data-cell-selected]),
.u-block-9c85-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9c85-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9c85-5.u-block-9c85-5.u-block-9c85-5:hover:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-9c85-5.u-block-9c85-5.u-block-9c85-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 66px;
}

.u-section-3 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 433px 0 143px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -66px auto 12px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 333px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 156px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 66px;
}

.u-section-4 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 921px 0 143px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 821px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 644px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 464px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 264px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 66px;
}

.u-section-5 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 867px 0 143px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -66px auto 12px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 767px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 590px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 410px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 210px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 66px;
}

.u-section-6 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 269px 0 143px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -66px auto 12px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 169px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 66px;
}

.u-section-7 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 288px 0 143px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -66px auto 12px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 188px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 11px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 66px;
}

.u-section-8 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 871px 0 143px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 771px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 594px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-right: 214px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 66px;
}

.u-section-9 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 853px 0 143px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 753px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 576px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: 396px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: 196px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 66px;
}

.u-section-10 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 885px 0 143px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: 785px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 608px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: 428px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-right: 228px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 66px;
}

.u-section-11 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 907px 0 143px;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-11 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: 807px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-right: 630px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-right: 450px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-right: 250px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 66px;
}

.u-section-12 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 741px 0 143px;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 641px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-right: 464px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-right: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    margin-right: 84px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 66px;
}

.u-section-13 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 871px 0 143px;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-13 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-right: 771px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-right: 594px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    margin-right: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    margin-right: 214px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 66px;
}

.u-section-14 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 853px 0 143px;
}

.u-section-14 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-14 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-right: 753px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-1 {
    margin-right: 576px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-1 {
    margin-right: 396px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    margin-right: 196px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 66px;
}

.u-section-15 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 871px 0 143px;
}

.u-section-15 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-15 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-1 {
    margin-right: 771px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-text-1 {
    margin-right: 594px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-text-1 {
    margin-right: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    margin-right: 214px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 67px;
}

.u-section-16 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 907px 0 143px;
}

.u-section-16 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 14px 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-1 {
    margin-right: 807px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-text-1 {
    margin-right: 630px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-text-1 {
    margin-right: 450px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-text-1 {
    margin-right: 250px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 67px;
}

.u-section-17 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -12px 650px 0 143px;
}

.u-section-17 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-17 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-text-1 {
    margin-right: 550px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-text-1 {
    margin-right: 373px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-text-1 {
    margin-right: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-text-1 {
    margin-right: 0;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 67px;
}

.u-section-18 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: -13px 651px 0 143px;
}

.u-section-18 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-18 .u-image-1 {
  width: 108px;
  height: 54px;
  margin: -67px auto 14px 0;
}

@media (max-width: 1199px) {
  .u-section-18 .u-text-1 {
    margin-right: 551px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-text-1 {
    margin-right: 374px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-text-1 {
    margin-right: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-text-1 {
    margin-right: 0;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 195px;
}

.u-section-19 .u-image-1 {
  width: 85px;
  height: 93px;
  margin: 51px auto;
}@font-face {
  font-family: 'ThinPixel7-1Yq0';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ThinPixel7-1Yq0.ttf);
}