.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-text-1 {
  font-family: ThinPixel7-1Yq0;
  margin: 2px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 300px;
  margin: 2px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: ThinPixel7-1Yq0;
  margin: 20px 0 56px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 179px;
  }
}@font-face {
  font-family: 'ThinPixel7-1Yq0';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ThinPixel7-1Yq0.ttf);
}